{% extends 'base.html' %}
<style>

</style>
{%block body%}
<body style="background-color:powderblue">
<br><br><br><br>
<div class="help" style="text-align: center;font-size:40px">
    <b><u><h1>ASK US ANYTHING!!!</h1></u></b>
</div>
<div class="accordion" id="accordionExample275" style="text-align: center; width: 100%;">
    <div class="card z-depth-0 bordered">
        <div class="card-header" id="headingOne2">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne2"
                    aria-expanded="true" aria-controls="collapseOne2" style="width: 100%; height:50px; font-size:20px">
                    Why is it important to diversify beyond stocks and bonds?
                </button>
            </h5>
        </div>
        <div id="collapseOne2" class="collapse" aria-labelledby="headingOne2" data-parent="#accordionExample275">
            <div class="card-body" style="font-size:20px">
                Investments have different traits at the company level, industry level, sector level, country level, and beyond, 
                but the fundamental structure of assets is divisible at the asset class level. At the asset class level, investments 
                can have different return structures and investment horizons, among other traits. By investing in securities across 
                multiple asset classes, investors can reduce correlation within their portfolios – and ultimately volatility – in one 
                of the most significant ways available. Obviously, the lower the volatility of a portfolio, the more stable it is.

                In addition to the equity and fixed income assets available in the public market, there are also money market 
                instruments, also known as cash equivalents, commodities, currency, and real estate. Money market instruments include 
                treasury bills, certificates of deposit, and short-term government bonds, among other assets. Commodities include raw 
                materials, such as gold, natural gas, and more. Currency includes cash, foreign currencies, and increasingly digital 
                currencies or cryptocurrencies. Real estate is typically traded through real estate investment trusts (REITs) in the 
                public market.

                Many of these same asset classes are available in the private market, but the investments available within each asset 
                class can be different – and they face very different market dynamics. That’s why private market investments can offer 
                immense diversification potential for portfolios heavily invested in public market investments. In general, the public 
                market has experienced greater correlation and volatility due to its shrinking size and increased concentration of 
                ownership, as discussed below. This makes diversification across private alternative assets increasingly important.
            </div>
        </div>
    </div>
    <div class="card z-depth-0 bordered">
        <div class="card-header" id="headingTwo2">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo2"
                    aria-expanded="false" aria-controls="collapseTwo2" style="width: 100%; height:50px; font-size:20px">
                    How many markets am I invested in?
                </button>
            </h5>
        </div>
        <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo2" data-parent="#accordionExample275">
            <div class="card-body" style="font-size:20px">
                As you may have already learned from the above questions, the market in which an investment is traded impacts its 
                diversification power. Markets can be categorized across many lines. They can be broken down by function such as 
                capital markets, money markets, and derivative markets, among others. They can also be classified by new issue 
                (first market) and the re-selling (second market) of investments, including primary, secondary, tertiary, and 
                quaternary markets.

                While these categorizations are important, the most fundamental form of market differentiation – and likely the most 
                crucial to your portfolio’s diversification – is the distinction between public and private markets.

                Many seemingly similar investments can be bought and sold in both the public and private markets. But the differences 
                in buying and selling dynamics between these markets make investments that seem the same in most aspects very different 
                in reality. These differences are important, because they have the power to make public market investments and private 
                market investments complementary for the purpose of diversification.

                Investments traded in the public market share many traits, and these shared traits translate into correlation. Public 
                markets are highly efficient, offering access to high levels of liquidity. Investments in this market can offer 
                investors the ability to buy and sell investments quickly at any time, but the homogeneity in public market dynamics 
                also creates correlation – and therefore volatility – among publicly traded investment vehicles.
            </div>
        </div>
    </div>
    <div class="card z-depth-0 bordered">
        <div class="card-header" id="headingThree2">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2"
                    style="width: 100%; height:50px; font-size:20px">
                    How will my portfolio be impacted by inflation?
                </button>
            </h5>
        </div>
        <div id="collapseThree2" class="collapse" aria-labelledby="headingThree2" data-parent="#accordionExample275">
            <div class="card-body" style="font-size:20px">
                Unfortunately, earning an investment return doesn’t necessarily mean you’re getting ahead financially. That’s because,
                generally speaking, currency loses value each year due to inflation. This is why a dollar in 2019 doesn’t hold the same 
                purchasing power as it did in 1919. Therefore, it’s important to ensure that your portfolio’s risk-adjusted earning 
                power is maximized, so the growth of your wealth not only keeps pace with inflation, but surpasses it.

                For example, if you earn a 5% annual return in a year when inflation rises 2%, your wealth could be growing at a 
                slower pace than you may realize. Or, even worse, if your investment portfolio has a loss in a year when inflation 
                rises 2%, your losses are automatically even worse.

                Earning high returns can help hedge rises in inflation, but some assets are more suited than others to outpace 
                inflation. In particular, hard assets are most capable of hedging inflation, because they hold intrinsic value due 
                to the fact that they’re naturally limited in supply. This intrinsic value gives a hard asset its ability to keep 
                pace with – or exceed increases in inflation.

                Some examples of hard assets include gold, diamonds, oil, and commercial real estate. Commercial real estate is unique, 
                because unlike other hard assets, its value can not only rise – or appreciate – with increases in inflation, it can 
                also earn income in the form of rental payments while it appreciates. For these reasons, real estate has historically 
                offered a strong diversification option for those seeking to build a strong portfolio capable of weathering periods of 
                inflation.
            </div>
        </div>
    </div>
    <div class="card z-depth-0 bordered">
        <div class="card-header" id="headingThree2">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2"
                    style="width: 100%; height:50px; font-size:20px">
                    I’m spending more than 30% of my income on rent right now. Should I wait until I’m more established to invest?
                </button>
            </h5>
        </div>
        <div id="collapseThree2" class="collapse" aria-labelledby="headingThree2" data-parent="#accordionExample275">
            <div class="card-body" style="font-size:20px">
                Financial expert Amanda Holden says nope. "Spending 30% of income on rent isn’t itself worrisome—unfortunately, 
                I know lots of young people who spend much more. And really, if you don’t have a house to maintain or a family to 
                raise, use this time to stash away as much money as you can! Having no major financial commitments is the perfect 
                reason to invest, not an excuse to avoid it!" But just to be clear, says Holden, that's after you pay down any 
                high-interest debt.
                "Generally speaking, your order of operations should look like this: 1. Pay off all high-interest debt like credit 
                cards while you 2. Build up an emergency stash of cash. Once you finish those two steps, you should 3. Begin saving 
                and investing for retirement. It is recommended you put at least 10% of your salary per year towards retirement, every 
                year you work. That said—don’t be turned off if you can’t make 10% happen! Start with anything."
            </div>
        </div>
    </div>
    <div class="card z-depth-0 bordered">
        <div class="card-header" id="headingThree2">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2"
                    style="width: 100%; height:50px; font-size:20px">
                    When should I start looking to invest? How much money should I put down up front? 
                </button>
            </h5>
        </div>
        <div id="collapseThree2" class="collapse" aria-labelledby="headingThree2" data-parent="#accordionExample275">
            <div class="card-body" style="font-size:20px">
                Per Amanda Holden's advice, it's never too early to start—after you've paid down that debt and built up an emergency 
                savings account. A recent CNN Money article goes further: "'We really encourage people to have six months of savings 
                first,' says Yvette Butler, president of Capital One Investing. Once you have a few thousand in savings, then you can 
                start investing."
                But what about how much? The same article says the short answer is $5. The better answer is $500. The $5 answer stems 
                from new investing apps, like Acorns. We've rounded up our favorites right here. Other, more hands-on services, tend 
                to require that you start with a higher amount. Options include Betterment, Wealthfront, and Ellevest.
            </div>
        </div>
    </div>
</div>
</body>

{%endblock body %}