{% extends 'base.html' %}
<head>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap" rel="stylesheet"> -->
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<style>
    * {
        box-sizing: border-box;
    }
</style>
{%block body%}

<body>
    <br><br><br><br>
    <h1 style="text-align: center;"> Our Dashboard will come here</h1>

</body>
{%endblock body %}