{% extends 'base.html' %}
<head>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap" rel="stylesheet"> -->
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<style>
    * {
        box-sizing: border-box;
    }
</style>
{%block body%}

<body style="background-image: url('https://bitpay.com/blog/content/images/2022/05/guide-to-bitcoin-wallets.png');">
    <br><br><br><br>
    <div style="color:white;margin-left: 30px;font-size:80px;"><b>WELCOME TO <br>COIN DROP.</b></div>
    </div>
</body>
{%endblock body %}